/* color */
$color-base-font: #c6c8d1;
$color-bold-font: #d2d4de;
$color-iceberg-blue: #84a0c6;
$color-iceberg-red: #e27878;
$color-iceberg-green: #b4be82;
$color-iceberg-orange: #e2a478;
$color-iceberg-purple: #a093c7;
$color-iceberg-black: #161821;
$color-iceberg-cyan: #89b8c2;
/*$color-iceberg-white: #c6c8d1;*/

/*
$color-iceberg: #71a6d2;
$color-gray: #a2a2a2;
$color-iceberg-darker: #4087c2;
$color-iceberg-lighter: #aecce5;
$color-iceberg-saturated: #65a7de; 
$color-iceberg-desaturated: #7ba5c8;
$color-iceberg-inverted: #8e592d;
$color-iceberg-teal: #008080;
$color-iceberg-deepskyblue: #00bfff;
*/